/*
	tswnavbar.css	2.0.0
	Please use the Navigation Menu Wizard at
		https://www.thesitewizard.com/wizards/css-menu-buttons.shtml
	to generate your own customized menu buttons.
*/

#tswcssbuttons {
	width: 180px ;
	max-width: 100% ;
	text-align: center ;
}
#tswcssbuttons ul {
	margin: 0 ;
	padding: 0 ;
	list-style: none ;
}
#tswcssbuttons li {
	margin: 0 ;
	padding: 0 ;
	display: block ;
	list-style: none ;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tswcssbuttons li a {
	color: #ffffff ;
	background-color: #FB8500 ;
	border: 1px outset #FB8500;
	text-decoration: none;
	display: block;
}
#tswcssbuttons li a:hover {
	color: #023047 ;
	background-color: #FFB703 ;
}