body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#b5ddff, #9aeb7b);
    padding: 30px;
    min-height: 100vh;
    max-width: 700px;
    margin: auto;
    color: #013661;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h3 {
    margin: 0;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}
